name: Deploy Sphinx Docs to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write      # Permite subir a gh-pages
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install sphinx
        pip install sphinx-rtd-theme
        pip install ghp-import

    - name: Build documentation
      run: |
        sphinx-build -b html source build/html

    - name: Deploy to GitHub Pages
      run: |
        ghp-import -n -p -f build/html
